
mat-card {
    max-width: 400px;
    margin: 50px auto;
    mat-card-title {
        margin-left: -16px;
    }
    mat-card-subtitle {
        color: red;
    }
    mat-form-field {
        display: block;
    }
    mat-card-actions {
        margin-bottom: 0 !important;
        padding: 8px;
    }
}